[Config]
nick=feyris-nyannyan
passwd=
server=holmes.freenode.net
port=6667
channel=#kisune
quitMessage=Sayonara-nyan !
source=My sourcecode is under CC-BY-SA and available at the following address: https://github.com/lanodan/scripts/tree/master/IRCBot
